<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>データの送信</title>
</head>
<body>
<form action="/receive02" method="post">
	性別：
	<input type="radio" name="SEX" value="男性" checked>男性
	<input type="radio" name="SEX" value="女性">女性
	<br>

	好きな科目：
	<input type="checkbox" name="SUBJECTS" value="国語">国語
	<input type="checkbox" name="SUBJECTS" value="数学">数学
	<input type="checkbox" name="SUBJECTS" value="英語">英語
	<br>

	<input type="submit" value="送信">
</form>

</body>
</html>